h2 {
    /*jadi semua yg h2 kena efek cuy*/
    color: #A52A2A;
    font-size: 130%;
    text-shadow: 3px 4px 3px white;
}

p.sansserif {
    font-family: Helvetica, Arial, sans-serif;
}

span {
    display: block;
}

header {
    background-image: url("../../images/kaki.jpg");
    color: black;
    padding: 1px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.project {
    background-image: url("../../images/kaki.jpg");
    color: black;
    padding: 1px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.extras {
    background-color: sandybrown;
    color: black;
    padding: 1px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    position: fixed;
    top: 30px;
    right: 5px;
    color: red;
}

p.normal {
    letter-spacing: normal;
}

p.project {
    padding: 10px;
    border-style: dashed;
    border-width: 2px;
    border-color: blue;
    font-family: sans-serif;
    max-width: 500px;
}

p.button {
    border-radius: 2px;
    background-color: black;
    color: white;
    padding: 5px;
}

ul.circle {
    list-style-type: circle;
    list-style-position: inside;
}

a:hover {
    color: red;
}
