h2 {
    /*jadi semua yg h2 kena efek cuy*/
    color: #A52A2A;
    font-size: 130%;
    text-shadow: 3px 4px 3px white;
}

p.sansserif {
    font-family: Helvetica, Arial, sans-serif;
}

span {
    display: block;
}

header {
    background-image: url("../../images/kaki.jpg");
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/kaki.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/kaki.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/kaki.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/kaki.jpg");
    color: white;
    padding: 1px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p.header-text {
    background: linear-gradient(90deg, 
    rgba(255, 255, 255, 0) 0%, 
    rgba(255, 255, 255, 0.2) 25%, 
    rgba(255, 255, 255, 0.2) 75%, 
    rgba(255, 255, 255, 0) 100%);
   box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);

    padding: 10px; 
    color: white;
    font-size: 18px;
    font-family: Arial;
    text-decoration: none;
    display: block;

    text-shadow: 2px 2px 5px black, -1px -1px 5px white;
}


.project {
    background-image: url("../../images/kaki.jpg");
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/kaki.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/kaki.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/kaki.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/kaki.jpg");    
    color: white;
    padding: 1px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.extras {
    background-color: sandybrown;
    color: black;
    padding: 1px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    position: fixed;
    top: 30px;
    right: 5px;
    color: red;
}



p.normal {
    letter-spacing: normal;
}

p.project {
    padding: 10px;
    border-style: dashed;
    border-width: 2px;
    border-color: blue;
    font-family: sans-serif;
    max-width: 500px;
}

p.button {
    border-radius: 2px;
    background-color: black;
    color: white;
    padding: 5px;
}

ul.circle {
    list-style-type: circle;
    list-style-position: inside;
}

a:hover {
    color: red;
}
